<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Neighborhood Score </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="/public/mainController.js"></script>
    <!-- Custom styles for this template -->
  </head>

  <body ng-controller="main">
    <div class="container">
      <div id="header">
      </br>
    </br>
      <h1>What's your home's score?</h1>
        <p class="lead">Fill out the form below to get started.</p>
        <form ng-submit="submit()" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control input-group" ng-model="address" name="address" placeholder="Enter your address here. Must be a Boston MA address. Please do not use commas." size="90%" required/>
        </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-md" value="Submit">
      </div>
    </form>
        <div>
          <h6> Powered by Liberty Mutual Data   <img src="https://images.contentful.com/r6ek15msiuv1/2O3qSSB9tSIm2w8yYCgyk2/cafba0690104c23a00fa53490819aee2/liberty-mutual-1.png">
          </h6>
        </div>
  </div>
      <h5 id = "superScore"> Your SuperScore value for {{ addressQuery }} </br> is {{ superScore }} /100 </br> <h8> Find Your Score Report Below!</h8></h5>
      <div id="report"> <!--ng-if="showReport" !-->
        <div class="row">
          <div class="col-md-6">
            <h3> </br> Population and Noise Raw Scores </h3>
            <h4> </br> Your Home's noise pollution score is  {{ quietValue }} /100</h4>
            <h9> This score indicates how loud or quiet the surrounding neighborhood is due to noise pollution factors such as highways, large railways, and primary roadways. The lower the value the better.</h9>
            <h4> Your Home's safety score is {{ safetyValue }} / 100 </h4>
            <h9> This score indicates how safe surrounding neighborhood are for children and families. The higher the value the better.</h9>
          </div>
          <div class="col-md-6">
            <h3> </br> Additional Concerns </h3>
            <div ng-repeat="concern in noiseReport">
              <h2> </br> &#8226; {{ concern }} </h2>
            </div>
            <div ng-repeat="concern in safetyReport">
              <h2> &#8226; {{ concern }} </h2>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3> </br> Local Hubway Stations </h3>
        <h9> Nearby Hubway Stations promote sustainability and an active lifestyle, two things known to improve overall quality of life.</h9>
        <div ng-repeat="station in hubwayStations">
          <h4> {{ station }} </h4>
          <h4 ng-if="hubwayStations === []"> No bike sharing stations found. Please try again </h4>
        </div>
        </div>
      <div class="col-md-6">
        <h3> </br> Surrounding Transit Stations</h3>
        <h9> Ease of access to public transportation allows residents to save money on gas and other vehicle fees.</h9>
        <div ng-repeat="station in transitStations">
          <h4> {{ station }} </h4>
          <h4 ng-if="transitStations === []"> No nearby transit stations found. Please try again </h4>
        </div>
      </div>
      <div class="col-md-6">
        <h3> </br>  Nearby Hospitals </h3>
        <h9> Local hospitals give residents a sense of security and trust in their community.</h9>
        <div ng-repeat="hospital in hospitals">
          <h4> {{ hospital }} </h4>
          <h4 ng-if="hospitals === []"> No nearby hospitals found. Please try again</h4>
        </div>
      </div>
      <div class="col-md-6">
        <h3> </br> Nearby Schools </h3>
        <h9> Living near schools with higher rankings boosts neighborhood scores. </h9>
        <div ng-repeat="school in schools" ng-if="$odd">
          <h4> {{ school }} </h4>
          <h4 ng-if="schools === []"> No nearby schools found. Please try again </h4>
        </div>
      </div>
      </div>
    </div>
  <div>
    <h7> </br> Created by Manuja DeSilva and Michael Hendrick at BostonHacks Fall 2017. </br> This project uses the Liberty
      Mutual Shine API as well as the Google Maps/Places APi. </br> Find us on GitHub @mdesilva and @mhendrick98.
    </h7>
  </div>
  </body>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>
